.page-contato-bg{
    background: linear-gradient(to bottom, #111 45%, #f7f7f7 0%);
}
.contato-informacoes{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--cor1);
    padding: 3rem 3rem 7rem 3rem;
    background-image: url("/img/dec/bottom-left.svg");
    background-repeat: no-repeat;
    background-position: bottom 17px left 18px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.contato-informacoes h1{
    color: var(--primaria);
    font-size: 1.125rem;
    line-height: 1.35;
    margin-bottom: 2rem;
    font-weight: 600;
}
.contato-informacoes p{
    color: #cccccc;
    margin-bottom: 10px;
}

.contato-redes{
    display: flex;
    gap: 2rem;
}
.page-contato{
    display: grid;
    grid-template-columns: 5fr 7fr;
    border-radius: 5px;
    padding: 2rem 2rem 5rem 2rem;  
}
.contato-endereco{
    background-image: url("/img/icones/local.svg");
    background-repeat: no-repeat;
    padding-left: 30px;
    
}
.contato-meios{
    background-image: url("/img/icones/email.svg");
    background-repeat: no-repeat;
    padding-left: 30px;
}
.contato-telefone{
    background-image: url("/img/icones/telefone.svg");
    background-repeat: no-repeat;
    padding-left: 30px;
}
.contato-redes{
    padding-left: 30px;
}
.contato-dados{
    background-color: var(--primaria);
    background-image: url("/img/dec/bottom-right.svg");
    background-repeat: no-repeat;
    background-position: bottom 17px right 18px;
    border-bottom-right-radius: 5px;    
    border-top-right-radius: 5px;
}
.contato-form{
    padding: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 20px;
    
}
.contato-form label{
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}
.contato-form textarea{
    margin-top: 0px;
}

.contato-form input, .contato-form textarea{
    padding: 1rem;
    width: 100%;
    background-color: #f7f7f7;
    border: none;
    border: 2px solid #ededed;
    border-radius: 5px;
    font-size: 1rem;
    font-family: "Popins", sans-serif;
    
}
.contato-form .grid-email, .contato-form .grid-textarea{
    grid-column: 1/-1;
}
.contato-form input:focus, .contato-form textarea:focus {
    outline: none;
    border-color: #FFBB00;
    border-width: 2px; 
    background-color: var(--primaria);
    box-shadow: 0 0 0 2px #fea;
    box-sizing: border-box;
}

.contato-form .btn{
    padding: 10px 25px;
    text-transform: uppercase;
    justify-self: left;
    margin-top: 20px;
}
.contato-form .grid-email{
    margin-top: 10px;
}
.contato-form .grid-textarea label{
    margin-bottom: 5px;
    margin-top: 10px;
}

.locais-container{
    background-color: #f7f7f7;
}
.locais{
    padding: 2rem 2rem 6rem 2rem;
}
.locais h2{
    font-size: 4rem;
    margin-bottom: 2.5rem;
}
.container-items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    
}
.container-items img{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.container-items .primaria-bg{
    border-radius: 5px;
}
.container-items-conteudo{
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.container-items-conteudo h3{
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    grid-column: span 2;
}
.container-items-conteudo p{
    font-family: "Roboto", sans-serif; 
    font-size: 1.1rem;
    margin-bottom: 10px;
}
.locais-endereco, .locais-contato{
    position: relative;
    padding-left: 20px;
    color: #595959;
}
.locais-endereco::before, .locais-contato::before{
    content: "";
    height:50px;
    width: 2px;
    background-color: #ededed;
    display: inline-block;
    position: absolute;
    left: 5px;
    
}
.container-items-conteudo p:has(img){
    color: var(--cor2);
    display: flex;
    align-items: center;
    gap: 10px;
}
@media (max-width: 1200px){
    .locais h2{
        font-size: 3.5rem;
    }
}
@media (max-width: 900px){
    .page-contato{
        grid-template-columns: 1fr;
        padding: 1rem 1.5rem 1rem 1.5rem;
        border-radius: 5px;
    }
    .contato-informacoes {
        padding: 2rem 2rem 2rem 2rem;
        gap: 15px;
        background-image: none;
        border-radius: 0px;
    }
    .contato-informacoes h1 {
        margin-bottom: 1rem;
    }
    .contato-dados {
        background-image: none;
        border-radius: 0px;
    }
    .contato-form{
        padding: 2rem 2rem 2rem 2rem;
    }
    .locais {
        padding: 2rem 1.5rem 4rem 1.5rem;
    }
    .locais h2{
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }
    .container-items{
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
    .container-items-conteudo{
        padding: 1.5rem;
    }
   
    
}
@media (max-width: 600px){
    .contato-form {
        padding: 3rem;
        display: grid;
        grid-template-columns: 1fr;
        gap: 0px 20px;
    }
    .contato-form input, .contato-form textarea{
        font-size: 0.9rem;
    }
    .container-items-conteudo h3 {
        font-size: 1.5rem;
    }
    .container-items-conteudo p {
        font-size: 1rem;
    }
    .contato-informacoes {
        padding: 2rem 1.5rem 2rem 1.5rem;
    }
    .contato-form{
        padding: 2rem 1.5rem 2rem 1.5rem;
    }
    .container-items-conteudo{
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .container-items-conteudo h3{
        grid-column: initial;
    }
    
    
    
}