/*INTRODUÇÃO 

*/

.home{
    background-image: url("/img/dec/bottom-left.svg");
    background-repeat: no-repeat;
    background-position: 3% 95%;
}
.introducao{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem 2rem;
    align-items: center;
    justify-content: center;
    gap: 45px;
    /*height: 670px;*/
    margin-bottom: 10rem;
    
}
.introducao span{
    color: var(--cor4);
}
.introducao h1{
    font-size: 4.5rem;
    max-width: 70ch;
    line-height: 1.125;
    
}
.introducao p{
    color: #B2B2B2;
    font-size: 1.6rem;
    max-width: 40ch;
    line-height: 1.5;
    margin-top: 1rem;
}
.introducao a{
    color: #332200;
    display: inline-block;
    background-color: #FFBF00;
    padding: 1rem 2rem;
    border-radius: 5px;
    font-weight: 600;
    margin-top: 1.2rem;
    font-size: 1.2rem;
}

.introducao img{
    height: 100%;
    object-fit: cover;
}
.introducao-img{
    margin-bottom: -100px;
}


/* PRODUTOS BICICLETAS 

*/
.bicicletas {
    padding: 1rem 4rem;
}
.bicicletas .itens{
    gap: 2rem;
    flex: 1;
    overflow-x: auto;
    padding-bottom: 20px;
}
.bicicletas li{
    min-width: 280px;
    cursor: pointer;
}
.bicicletas img{
    max-width: 100%;
    
}
.bicicletas h2{
    font-size: 4rem;
    line-height: 1.125;
    font-weight: 600;
    margin-bottom: 2rem;
   
}
.bicicletas h3{
    font-size: 2rem;
    line-height: 1.25;
    color: var(--cor1);
    margin-top: 10px;
    margin-bottom: 10px;
}
.bicicletas .itens span{
    font-size: 1.125rem;
    line-height: 1.35;
    color: #595959;
    font-weight: 500;
}
.bicicletas .itens a{
    display: block;
}
.bicicletas span{
    color: var(--cor4);
}
.bicicletas h3::before{
    content: "";
    display: inline-block;
    height: 9px;
    width: 12px;
    background-color: var(--cor4);
    position: relative;
    bottom: 5px;
    margin-right: 4px;
    transition: width 0.2s;

}
.bicicletas a:hover h3::before{
    width: 25px;
}
.bicicletas .span-preco::before{
    content: "";
    display: inline-block;
    height: 9px;
    width: 12px;
    position: relative;
    bottom: 5px;
    margin-right: 4px;
}

/* TECNOLOGIAS 

*/
.principal{
    background-image: url("/img/dec/bottom-left.svg");
    background-repeat: no-repeat;
    background-position: 3% 95%;
}
.tecnologias{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 4rem 2rem 4rem 2rem;
    gap: 2rem;
    margin-top: 15rem;
    margin-bottom: 15rem;
}
.tecnologias .titulo-modelo{
    color: var(--cor4);
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 600;
    padding: 1rem 0 1rem 0;

}
.tecnologias .titulo-modelo::after{
    content: "";
    height: 4px;
    width: 260px;
    background-color: var(--cor4);
    display: block;
}
.tecnologias .titulo-modelo:hover{
    color: var(--primaria);
}
.tecnologias .titulo-modelo:hover::after{
    background-color: var(--primaria);
}

.tecnologias h2{
    font-size: 4rem;
    line-height: 1.125;
    margin-top: 1rem;
}
.tecnologias span:first-child{
    text-transform: uppercase;
    font-size: 1.4rem;
    line-height: 1.5;
    font-weight: 600;
    
}
.tecnologias p{
    font-size: 1.5rem;
    line-height: 1.5;
    max-width: 40ch;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}
.tecnologias .modelo p{
    color: var(--cor3);
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 0.5rem;
    max-width: 30ch;
}
.tecnologias .modelo h3{
    font-size: 1.124rem;
}
.tecnologias .modelo{
    gap: 2rem;
    margin-top: 3rem;

}
.tecnologias .modelo img{
    height: 25px;
    margin-bottom: 0.875rem;
}
.tecnologias .img-principal img{
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}
.tecnologias .img-principal{
    margin-top: -130px;
    margin-bottom: -130px; 
}
.tecnologias span:last-child{
    color: var(--cor4);
}

/* PARCEIROSSSS

*/

.logos-parceiros{
    padding: 4rem 4rem;
}

.parceiros h2{
    font-size: 4rem;
    line-height: 1.125;
    padding: 0px 2rem 2rem 2rem;
}

.parceiros ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0px 1rem;
}
.parceiros li{
    padding: 2rem;
    border: 1px solid #ededed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.parceiros li:first-child, .parceiros li:nth-child(5){
    border-left: none;
}
.parceiros li:nth-child(4), .parceiros li:nth-child(8){
    border-right: none;
}
.parceiros li:nth-child(1), 
.parceiros li:nth-child(2), 
.parceiros li:nth-child(3),
.parceiros li:nth-child(4){
    border-top: none;
}
.parceiros li:nth-child(5), 
.parceiros li:nth-child(6), 
.parceiros li:nth-child(7),
.parceiros li:nth-child(8){
    border-bottom: none;
}


/* DEPOIMENTO 

*/

.depoimento{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 4rem;
}
.texto-depoimento{
    background-color: var(--cor4);
    padding: 40px 40px 60px 60px;
    background-image: url("/img/dec/top-left-p.svg"), url("/img/dec/bottom-right-p.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: left top, right bottom;
    background-origin: content-box;
    align-items: end;  
}
.texto-flex{
    padding-bottom: 3rem;
}
.texto-flex span{
    font-weight: 600;
    font-size: 1.3rem;
    color: #664400;
}
.texto-depoimento p{
    max-width: 25ch;
}
.texto-depoimento p:first-child{
    color: #332200;
    font-size: 2rem;
    font-weight: 500;
    font-family: "Merriweather", sans-serif;
    position: relative;
}
.texto-depoimento p:first-child::before, .texto-depoimento p:first-child::after{
    color: var(--cor5);
    font-size: 4rem;
    position: absolute;
}
.texto-depoimento p:first-child::before{
    content: "“";
    left: -40px;
    top: -23px;
}
.texto-depoimento p:first-child::after{
    content: "”";
    bottom: -50px;
}
.texto-depoimento .flex{
    flex-direction: column;
    gap: 2rem;  
}
.depoimento img{
    height: 100%;
    width: 100%;
}


/* SEGUROS 

*/

.bt-cinza a{
    background-color: #2E2E2E;
    color: #CCCCCC;
}
.beneficios {
    list-style-image: url("/img/icones/lista.svg");
}
.beneficios li{
    margin-top: 1rem;
    font-size: 1.17rem;
    line-height: 1.35;
}
.seguros-item span{
    display: block;
    text-align: end;
}
.titulo-dourado{
    color: var(--cor4);
}

@media (max-width: 1200px){
    .introducao h1, .bicicletas h2, .tecnologias h2, .parceiros h2{
        font-size: 3.5rem;
    }
    .bicicletas h3{
        font-size: 1.7rem;
    }
}
@media (max-width: 1000px){
    .introducao{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .introducao h1, .bicicletas h2, .tecnologias h2, .parceiros h2{
        font-size: 2.5rem;
        line-height: 1.2;
    }
    .bicicletas h3{
        font-size: 1.5rem;
    }
    .introducao p{
        font-size: 1.3rem;
    }
    .tecnologias p{
        font-size: 1.3rem;
    }
    .tecnologias span:first-child{
        font-size: 1.2rem;
    }
    .introducao img{
        width: 100%;
        height: 500px;
    }
    .tecnologias{
        grid-template-columns: 1fr;
        margin-top: 3rem;
        margin-bottom: 3.5rem;
    }
    .tecnologias .img-principal{
        display: none;
    }
    .depoimento{
        grid-template-columns: 1fr;
    }
    .texto-depoimento{
        justify-content: center;
        align-items: center;  
    }
    .texto-flex{
        padding-bottom: 1rem;
    }
    .texto-depoimento .flex{
        gap: 1rem;
    }
    .texto-depoimento{
        padding-bottom: 40px;
        background-image: none;
    }
    .texto-depoimento p:first-child {
        font-size: 1.7rem;
    }
    .principal{
        background-image: none;
    }
    
   

}
@media (max-width: 600px){
    .tecnologias .modelo{
        flex-direction: column;
        gap: 10px;
    }
    .tecnologias .modelo p{
        max-width: 33ch;
    }
    .bicicletas {
        padding: 1rem 2rem;
    }
    .parceiros ul{
        grid-template-columns: 1fr 1fr;
    }
    .principal{
        background-image: none;
    }
    .texto-depoimento p:first-child {
        font-size: 1.5rem;
    }
    .texto-flex span {
        font-size: 1rem;
    }
    .introducao{
        padding: 1rem 1.5rem 1rem 1.5rem;
        margin-bottom: 7rem;
    }
    .bicicletas {
        padding: 1rem 1.5rem 1rem 1.5rem;
    }
    .tecnologias{
        padding: 3rem 1.5rem 3rem 1.5rem;
        
    }
    .logos-parceiros{
        padding: 3rem 1.5rem 3rem 1.5rem;
    }
    #home .seguros h2{
        font-size: 2.5rem;
        line-height: 1.3;
        padding-bottom: 2rem;
        padding-top: 0rem;
    }
    #home .seguros .grid {
        padding: 3rem 2rem 4rem 2rem;
    }
    .tecnologias .modelo {
        margin-top: 2rem;
    }
    .tecnologias p {
        font-size: 1.2rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        max-width: 33ch;
    }
    .parceiros li:nth-child(2), 
    .parceiros li:nth-child(6) {
        border-right: none;
    }
    .parceiros li:nth-child(3), 
    .parceiros li:nth-child(7) {
        border-left: none;
    }
}


