.form{
    padding: 3rem 2rem 3rem 2rem;
    display: grid;
    grid-template-columns: 5fr 7fr;
    color: var(--primaria);
      
}
.fundo-formulario{
    background: linear-gradient(to bottom, #111 35%, #fff 0%);
}

.fundo-branco{
    background-color: var(--primaria);
    padding: 3rem;
}
.form h2{
    font-size: 0.7rem;
    color: #404040;
    margin-bottom: 1rem;
}

.form .fundo-branco label{
    color: var(--cor2);
    display: block;
    font-size: 1rem;
    margin-top: 1rem;
    font-weight: 600;
}

.fundo-branco h2::before, .fundo-preto h2::before{
    content:"";
    height: 7px;
    width: 4px;
    background-color: var(--cor4);
    display: inline-block;
    margin-right: 4px;
}

.divisao-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 20px;
}
.divisao-grid input, .divisao-grid select{
    padding: 1rem;
    width: 100%;
    background-color: #F7F7F7;
    border: 2px solid #EDEDED;
    border-radius: 4px;
}

.col-2{
    grid-column: span 2;
}

.form .titulo-2{
    margin-top: 3rem;
} 

.btn-orcamento{
    border: none;
    background-color: #FFBF00;
    padding: 1rem 1.6rem;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 2rem;
}

.fundo-branco{
    background-image: url("/img/dec/bottom-right.svg");
    background-repeat: no-repeat;
    background-position: right 40px bottom 40px;
}
.form .fundo-preto h2{
    color: var(--cor3);
}

.fundo-preto{
    background-image: url("/img/dec/top-right.svg");
    background-repeat: no-repeat;
    background-position: bottom 40px left 40px;
    background-color: var(--cor1);
    padding: 3rem 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: start;
    gap: 0 15px;
}

.fundo-preto input + label{
    padding: 15px 16px;
    background-color: #2E2E2E;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1rem;
} 
.fundo-preto h2{
    grid-column: span 2;
}
.escolha{
    grid-column: span 2;
    display: none;
}
.fundo-preto .escolha input + label{
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;  
}
.fundo-preto input + label span{
    display: none;
}
.fundo-preto input:checked + label span{
    display: inline-block;
}
.fundo-preto input:checked + label{
    background-color: var(--primaria);
    color:#111;
}
.fundo-preto input{
    opacity: 0;
    position: absolute;
    pointer-events: none;
}
.fundo-preto label::before{
    content: "";
    display: inline-block;
    box-sizing: border-box;
    width: 12px;
    height: 12px;
    border: 1px solid #9C9C9C;
    border-radius: 50%;
    margin-right: 8px;
}
.fundo-preto input:checked + label::before{
    border-color: #717171;
    box-shadow: inset 0 0 0 3px var(--primaria), inset 0 0 0 5px #717171;
}
.input-flex{
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
}
.fundo-preto .plano-titulo{
    margin-top: 1.2rem;
   
}
.fundo-preto h3{
    color: var(--cor3);
    font-size: 0.7rem;
}
.fundo-branco h3::before, .fundo-preto h3::before{
    content:"";
    height: 7px;
    width: 4px;
    background-color: var(--cor4);
    display: inline-block;
    margin-right: 4px;
}
#bikcraft:checked ~ #orcamento-bikcraft, #seguro:checked ~ #orcamento-seguro{
    display: block;
} 



.form .fundo-preto .radio-conteudo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: #fff;
    color: #595959;
    border: none;
    display: none;
    padding: 1.1rem;
    border-radius: 4px;
    margin-top: 1rem;
}
.radio-conteudo li{
    font-size: 0.7rem;
    display: flex;
    margin-top: 5px;
    
}
.radio-conteudo li::before{
    content: "";
    height: 15px;
    width: 10px;
    display: inline-block;
    background-size: cover;
    padding-right: 5px;
    margin-right: 7px;
}
.radio-conteudo ul li:first-child::before{
    background-image: url("/img/icones/eletrica.svg");  
}
.radio-conteudo ul li:nth-child(2):before{
    background-image: url("/img/icones/carbono.svg");  
}
.radio-conteudo ul li:nth-child(3):before{
    background-image: url("/img/icones/velocidade.svg");  
}
.radio-conteudo ul li:nth-child(4):before{
    background-image: url("/img/icones/rastreador.svg");  
}
