*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: #ffffff;
    
}
ul, ol{
    list-style-type: none;
}
a{
    text-decoration: none; 

}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
.btn{
    border-radius: 5px;
    background-color: #FFBF00;
    font-size: 1.1rem;
    font-weight: 600;
    color: #332200;
    font-family: "Poppins", sans-serif;
    border: none;
}
