.header {
   justify-content: space-between;
   padding: 2rem 2rem;
   align-items: center;
   margin: 0 auto;
}
.header img{
    max-width: 100%;
    height: 40px;
}
.navegacao{
    gap: 2rem;
    font-size: 0.875rem;
    flex-wrap: wrap;
}
.navegacao a{
    padding: 16px 0;
    font-size: 1.2rem;
    font-weight: 600;
    display: inline-block;
    position: relative;
}
.navegacao a::after{
    content: "";
    height: 2px;
    width: 0px;
    display: block;
    transition: 0.5s;
    margin-top: 5px;
    position: absolute;
    background-color: #ffffff;
}
.navegacao a:hover::after{
    width: 100%;
}

